<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Sinopsis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body p-5">
                <p>En el vasto mundo de Mediapolis, una ciudad tecnológica donde el conocimiento es la mayor fuente de poder, te embarcarás en una aventura única para convertirte en un Ingmedi@. Estos seres poderosos y respetados son los verdaderos maestros de la ingeniería multimedia, y tú, como aprendiz, tienes la misión de entrenar y dominar las habilidades que harán de ti uno de ellos.</p>
                <p>Tu viaje comienza bajo la guía de Geral, la Guardiana de Mediapolis, quien te enseñará los secretos de la tecnología sana y la importancia de usarla para el bien. Para completar tu entrenamiento, deberás recorrer la ciudad y recolectar PokeTokens, objetos especiales que te permitirán capturar y entrenar Powermul—habilidades y conocimientos cruciales para convertirte en un verdader@ Ingmedi@.</p>
                <p>En esta Misión #1: Fundamentos del Ingeniero Multimedia, te enfrentarás a desafíos interactivos que pondrán a prueba tu ingenio. Resolverás acertijos basados en los principios de la ingeniería multimedia, desde tipologías multimedia hasta técnicas avanzadas. Solo aquellos que superen estos retos podrán recolectar y entrenar Powermuls, avanzando hacia su transformación definitiva en un Ingmedi@.</p>
                <hr>
                <div class="row mt-4">
                    <div class="col-md-4 text-center">
                        <img src="assets/images/avatar-plano-medio.png" alt="Ingmedi@s" class="my-2" height="40px">
                        <br>
                        <h4 class="typing-container">Ingmedi@s</h4>
                        <p>¡Tú! Los jugadores en su camino hacia convertirse en expertos en ingeniería multimedia.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="assets/images/poketoken-locked.png" alt="PokeTokens" class="my-2" height="40px">
                        <br>
                        <h4 class="typing-container">PokeTokens</h4>
                        <p>Los objetos que se utilizan para capturar a los Powermuls.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="assets/images/powermul.png" alt="Powermul" class="my-2" height="40px">
                        <br>
                        <h4 class="typing-container">Powermul</h4>
                        <p>Las habilidades y conocimientos que los jugadores pueden entrenar y desarrollar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
