<div class="vh-85 d-flex justify-content-center align-items-center bg-mediapolis">
    <!-- Mapa de Mediapolis -->

    <div class="container text-center mediapolis-container">
        <!-- Avatar -->
        <img id="avatar" src="assets/images/avatar.png" alt="Avatar" class="avatar-city position-absolute"
            width="100px">

        <!-- Tokens distribuidos en filas -->
        <div class="row">
            <!-- Fila 1 -->
            <div class="col-lg-3 col-md-12 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-unlocked.png" alt="PokéToken Desbloqueado" class="token unlocked">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>

            <!-- Fila 2 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>

            <!-- Fila 3 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 my-3">
                <img src="assets/images/poketoken-locked.png" alt="PokéToken Bloqueado" class="token locked">
            </div>
        </div>
    </div>
</div>