<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center bg-game">
    <header class="typing-container">
        <h1 class="display-4 fw-bold typing-text" style="color: var(--green-primary); font-family: var(--font-title);">
            Ingemedi@s: Criaturas Poderosas
        </h1>
    </header>
    <section>
        <p class="lead mt-3 fade-up fw-bold" style="font-family: var(--font-body); color: var(--yellow-secondary);">
            Embárcate en una aventura épica para convertirte en un Ingenier@ Multimedia.
        </p>
        <img src="assets/images/guardiana.png" alt="Guardiana de Mediapolis" class="img-fluid mt-4"
            style="width: 100px;">
        <div class="d-flex justify-content-center">
            <p class="fst-italic mt-4 fade-up w-75" style="color: var(--text-light); font-family: var(--font-body);">
                <span class="fw-bold">Definición de ingeniería:</span>La ingeniería es una disciplina que aplica
                principios científicos, matemáticos y tecnológicos para diseñar, construir y optimizar sistemas,
                estructuras y dispositivos con el fin de resolver problemas específicos de la sociedad. Los ingenieros
                emplean su conocimiento para mejorar la eficiencia, funcionalidad y sostenibilidad de productos y
                servicios en diversas áreas. Su objetivo es transformar los avances tecnológicos en soluciones prácticas
                que contribuyan al desarrollo social y económico.
            </p>
        </div>
    </section>
    <footer>
        <button id="startGame" class="btn btn-lg mt-4 d-flex align-items-center gap-2"
            style="background-color: var(--green-primary); color: var(--text-light);">
            <span class="material-icons">play_arrow</span>
            Comenzar Aventura
        </button>
    </footer>
</div>